#body_Dicee {
    display: grid;
    grid-template-rows: max-content auto;

    border: 1px solid var(--shadowAndHoverColor);
    border-radius: 8px;

    background-color: var(--backgroundColor-Dicee);
    max-height: 60vh;
    min-height: 50vh;

    padding: 10px;
}

#titleDicee {
    text-align: center;
}

#content_Dicee {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#diceTitle {
    display: flex;
    
    border: 1px solid var(--borderColor);
    border-radius: 8px;

    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;

    height: 246px;
    width: 90%;

    color: #ffffff;
}

#diceTitle:hover {
    background-color: var(--shadowAndHoverColor) !important;
    cursor: pointer;
}

.dices {
    display: flex;
    align-self: center;
    align-items: center;
    justify-self: center;
}